html {
    background-image: linear-gradient(-10deg,  rgb(21, 4, 97), rgb(0, 42, 97));
}
body {
    margin: 0px;
    padding: 0px;
}

nav {
    display: flex;
    flex-direction:  row;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.541);
    box-shadow: 10px 10px 20px black;
}
.home {
    flex: 1;
    font-size: 170%;
}
.logoContainer {
    flex: 3;
    margin: 0px;
}
.logo {
    width: 4.5%;
}
.contact {
    flex: 1;
    font-size: 170%;
}

.top {
    display: flex;
    flex-direction: column;
}
.aboutMe {
    display: flex;
    flex-direction: row;
    text-align: center;
}
.bla {
    flex: 3;
    display: flex;
    flex-direction: column;
}
.title {
    font-size: 120px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgba(255, 255, 255, 0.63);
    margin-top: 2%;
    margin-bottom: 0px;
    text-decoration: underline;
}
.introduction {
    text-align: center;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgba(255, 255, 255, 0.63);
    
}

.asideLeft {
    flex: 2;
    text-align: center;
}
.l1 {
    width: 400px;
    border: 5px solid black;
}
.l2 {
    width: 400px;
    border: 5px solid black;
}
.l3 {
    width: 400px;
    border: 5px solid black;
}

.asideRight {
    flex: 2;
    text-align: center;
}
.r1 {
    width: 400px;
    border: 5px solid black;
}
.r2 {
    width: 400px;
    border: 5px solid black;
}
.r3 {
    width: 400px;
    border: 5px solid black;
}