html {
    background-image: linear-gradient(-10deg,  rgb(21, 4, 97), rgb(0, 42, 97));
}
body {
    margin: 0px;
    padding: 0px;
}

nav {
    display: flex;
    flex-direction:  row;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.541);
    box-shadow: 10px 10px 20px black;
}
.home {
    flex: 1;
    font-size: 170%;
}
.logoContainer {
    flex: 3;
    margin: 0px;
}
.logo {
    width: 4.5%;
}
.contact {
    flex: 1;
    font-size: 170%;
}

.top {
    display: flex;
    flex-direction: column;
}
.title {
    text-align: center;
    color: rgba(255, 255, 255, 0.705);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 150px;
}
.middle {
    display: flex;
    flex-direction: row-reverse;
}
.introduction {
    margin-right: 3%;
    color: rgba(255, 255, 255, 0.705);
    box-shadow: 0px 10px 12px black;
    flex: 1;
    border-radius: 25px;
    text-align: center;
    font-size: 164.85%;
}
.aboutMe {
    margin-left: 2%;
    margin-right: 2%;
}
.alignment {
    flex: 3;
    display: flex;
    flex-direction: column;
    font-size: 100px;
    text-align: center;
    margin-left: 3%;
    margin-right: 3%;
}
.box1 {
    display: flex;
    flex-direction: row;
}
.box1Left {
    background-color: rgba(255, 255, 255, 0.541);
    box-shadow: 0px 10px 12px black;
    flex: 2;
    border-top-left-radius: 25px;
}
.box1Right {
    flex: 2;
    background-image: url("James 13.JPG");
    background-size: cover;
    border-top-right-radius: 25px;
}

.box2 {
    display: flex;
    flex-direction: row;
}
.box2Right {
    flex: 2;
    background-image: url("Moon edited.jpg");
    background-position: center;
    background-size: cover;
}
.box2Left {
    background-color: rgba(255, 255, 255, 0.541);
    box-shadow: 0px 10px 12px black;
    flex: 2;
}

.box3 {
    display: flex;
    flex-direction: row-reverse;
    border-radius: 25px;
}
.box3Left {
    background-color: rgba(255, 255, 255, 0.541);
    box-shadow: 0px 10px 12px black;
    flex: 2;
    border-bottom-left-radius: 25px;
}
.box3Right {
    flex: 2;
    background-image: url("Just Us V3.jpg");
    background-position: center;
    background-size: cover;
    border-bottom-right-radius: 25px;   
}

.bottom {
    margin: 0%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    background-color: rgba(255, 255, 255, 0.541);
    padding: 1%;
    border-radius: 25px;
    
}
.row1 {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.figure1 {
    flex: 1;
    margin: 0%;
}
.figure1 > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;   
}
.row2 {
    flex: 2;
    display: flex;
    flex-direction: column;
}
.figure2 {
    margin: 0%;
}
.figure2 > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 25px;
}
.row3 {
    display: flex;
    flex-direction: row;
    margin: 0%;
    height: 100%;
    width: 100%;
}
.figure3 {
    margin: 0%;
    flex: 1;
}
.figure3 > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.figure4 {
    margin: 0%;
    flex: 1;
}
.figure4 > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.figure5 {
    margin: 0%;
    flex: 1;
}
.figure5 > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-right-radius: 25px;
}

